/* === GLOBAL STYLES === */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 32%
}

body {
  background: #FCDDE2;
  color: #1F2022;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

/* === TYPOGRAPHIC STYLES === */

h1,
h2,
h3 {
  color: #1D81CC;
} 

h1,
h2,
h3,
button {
  font-family: 'Emblema One';
  text-transform: uppercase;
}


h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4.2rem;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
}

p,
button,
a,
address {
  font-size: 2.8rem;
}

p {
  letter-spacing: 1.02;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #1F2022;
  text-decoration: none;
}

/*  === GLOBAL ELEMENTS === */
ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  border: none;
  display: block;
  margin: auto;
  padding: 10px 20px;
  transition: transform 200ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* ===  LAYOUT STYLES === */

.container {
  margin: 0 auto;
  max-width: 1100;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
} 

.padding {
  padding: 30px 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* === LANDING SECTION === */
header {
  background: linear-gradient(55deg, #F5C8CF, #FCDDE2 40% 80%, #F5C8CF);
}

header nav {
  float: right;
}

/* === HIDDEN MENU STYLES FROM @JUNO COLLEGE, WEB DEV BOOTCAMP LESSON === */
.mobile-menu {
  position: relative;
}

.mobile-menu button {
  background: transparent;
  border: none;
  color: #042259;
  font-size: 8rem;
}

.menu-links {
  background: #F0F5FF;
  height: 0;
  overflow: hidden;
  position: absolute;
}

.menu-links li {
  padding: 8px 0;
}

.mobile-menu li:hover .menu-links,
.mobile-menu li:focus-within .menu-links {
  height: auto
}

/* --- HIDDEN MENU STYLES @JUNO ENDS --- */

.menu-links li a:hover {
  background: #FCDDE2;
}

header nav li {
  padding-right: 30px;
  text-transform: uppercase;
}

.desktop-nav {
  display: none;
}

header a,
header p {
  color: #042259;
}

.heading {
  clear: both;
  float: left;
  padding: 50px 20px 75px 20px;
  width: 60%;
}

header .img-wrapper {
  float: right;
  max-width: 75%;
}

header h2 {
  clear: both;
}

header .container {
  position: relative;
}

.social {
  display: none;
  position: absolute;
  top: 150px;
  right: 30px;
}

.social li {
  margin: 10px 0;
}

.social i {
  color: #1D81CC;
  font-size: 3.5rem;
  transition: color 250ms;
}

.social i:hover {
  color: #042259;
}

/*  === FEATURES SECTION + FEATURED ARTICLE ===  */

.features .img-wrapper {
  width: calc(50% - 10px);
  float: left;
  margin: 20px 5px 40px;
}

.features .img-wrapper:last-child {
  display: none;
}

.featured-article .article-copy {
  padding: 30px 0;
}

/*  === ARTICLES  ===  */
article .img-wrapper:first-of-type {
  width: 100%;
}

article button {
  background: #042259;
  color: #F0F5FF;
}

/*  === LINKS CONACT && FOOTER  === */
.links,
.stay-updated form, 
footer {
  text-align: center;
}

/*  === LINKS SECTION === */
.links .container {
  background: #F5C8CF;
  color: #042259;
  text-align: center;
  }

.links li {
  margin: 30px 0;
}

.links i {
  font-size: 6rem;
  margin-bottom: 15px;
}

.links i,
.links a {
  display: block;
}

.links a,
.stay-updated nav a {
  color: #1D81CC;
  font-family: 'Emblema One';
  font-size: 3.5rem;
  text-transform: uppercase;
  transition: color 200ms;
}

.links a:hover,
.stay-updated nav a:hover {
  color: #042259;
}

/*  === CONTACT SECTION === */
.stay-updated .container {
  background: #F0F5FF;
}

form {
  padding-bottom: 20px;
}

fieldset {
  border: none;
}
.stay-updated h3,
.contact h3 {
  font-size: 3.5rem;
}

form input {
  border: 1px solid #F5C8CF;
  margin-bottom: 10px;
  padding: 10px 40px;
  text-align: center;
}

form input,
form input::placeholder {
  color: #1F2022;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

form button {
  background: #F5C8CF;
  color: #042259;
}

.contact {
  float: left;
}

.contact address {
  font-style: normal;
}

.stay-updated nav {
  float: right;
}

/*  === FOOTER  === */
footer .container {
  background: #042259;
  color: #F0F5FF;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

/* ====================================== */
/*  === === === MEDIA QUERIES === === ===*/
/* ====================================== */

/* === SMALL SCREEN SIZES === */
@media all and (min-width: 350px) {
  html {
    font-size: 42%;
  }
}

@media all and (min-width: 400px) {
  html {
    font-size: 45%;
  }

  .padding {
    padding: 40px 25px;
  }
}

/* === MEDIUM SCREEN SIZES == */
@media all and (min-width: 768px) {
  html {
    font-size: 57%;
  }

  .heading {
    padding: 50px 50px 0 50px;
  }

  .padding {
    padding: 50px;
  }

  .featured-article .img-wrapper {
    max-width: 60%;
    margin: 0 auto;
  }

  .links li {
    width: 33%;
    float: left;
    display: block;
  }
}

/* === LARGE SCREEN SIZES === */
@media all and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 10.46rem;
  }

  p,
  form input,
  form input::placeholder {
    font-size: 2rem;
  }

  .container {
    max-width: 1200px;
  }

  .padding {
    padding: 75px;
  }

  /* Navigation changes */

  .mobile-menu {
    display: none;
  }

  .social {
    display: block;
  }

  header nav li {
    padding: 0;
    margin: 0;
    float: right;
  }


  .heading {
    width: 40%;
  }

  .desktop-nav {
    display: block;
    margin: 40px 75px 60px 0;
  }

  .desktop-nav a {
    padding: 5px 20px;
    margin: 0;
    transition: background 250ms, color 200ms;
  }

  .desktop-nav a:hover {
    background: #1D81CC;
    color: #F0F5FF;
  }

  /* Header styles */

  .heading {
    max-width: 35%;
  }

  header .img-wrapper {
    margin-top: 100px;
    max-width: 60%;
  }

  /* Features */

  .features .img-wrapper {
    width: calc(33% - 10px);
    margin-bottom: 100px;
    float: left;
  }

  .features .img-wrapper:last-child {
    display: block;
  }

  .featured-article .img-wrapper {
    margin-right: 25px;
    max-width: 30%;
    float: left;
  }
}

@media all and (min-width: 1100px) {
  .article .container {
    background: #F0F5FF;
  }

  .article .img-wrapper {
    min-height: 100%;
  }

  .article-copy {
    padding: 30px;
  }

  .article button {
    background: #F5C8CF;
    color: #042259;
  }

  .links li {
    margin: 30px 0;
  }

  .left,
  .right {
  max-width: 50%;
}

  .links .container {
    background: #FCDDE2;
  }
}